body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.text{
    margin-left: 0;
    padding-top: 0;
}
.text h1{
    color: #EC4C7A
}
.text p{
    color: dimgray;
}


.header-bg{
    background-image: url("images/header-bg.png") ;
    background-repeat: no-repeat;
    

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    

}
.button-style{
    text-decoration:none;
    background-color:#EC4C7A;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
section{
    height: 500px;
    padding-bottom: 150px;
    display: block;
    content: "";
    clear:both;
    overflow: hidden;
    
    }
 
.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
   
 }
 .latest-work{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 1700px 700px;
}
.latest-work-img img{
    width: 30%;
    float: left;
    margin-left: 1%;
    padding-left: 1%;
}
#latest-text{
    text-align: center;
    font-size: 30px;
}
.client{
    text-align: center;
}
.text-new{
    color: dimgray;
}
.button-style-new{
    text-decoration:none;
    background-image: linear-gradient(45deg,#EC4F91,#ED4B70);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

